<div class="container">
  <mat-card>
    <form action="" method="post">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nom</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Prénom</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Téléphone</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Mot de passe</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Confirmation mot de passe</mat-label>
        <input matInput />
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary" class="btn-send">
        Envoyer
      </button>
    </form>
  </mat-card>
</div>
