<mat-card>
  <form [formGroup]="authentificateForm">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="email"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password"/>
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary" class="btn-send" (click)="submit()">
      Send
    </button>
  </form>
</mat-card>
